h4 {
    color: #2a507f;
    text-align: center;
    padding: 5%;
    font-size: 2rem;
}

p.r {
  text-align: center;
}

.messageCheckbox {
  border-radius: 5px;
  border: 1px solid #245784;
  background: rgb(219, 240, 249);
  color: rgb(36, 87, 132);
  margin-bottom: 20px;
}

.button-container {
    display: inline-block;
    width: 45%;
    height: auto;
    margin: 2.3%;
    background-color: #dbf0f9;
    border-radius: 10px 10px 10px 10px;
}
